<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="VWO Regression Suite" verbose="3" >

    <test name = "VWO Landing Page">
        <classes>
            <class name = "org.thetestingacademy.ex03_Locators.TestSelenium15" />
        </classes>

    </test>


</suite>